<h1 class="mb-5">ACTUALIZAR USUARIO</h1>
<form [formGroup]="updateForm" (ngSubmit)="saveDataUpdateForm()">
  <div class="row mb-3">
    <label for="name" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Introduzca nombre de usuario">
    </div>
  </div>
  <div class="row mb-3">
    <label for="surname" class="col-sm-2 col-form-label">Apellido</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="surname" formControlName="surname" placeholder="Introduzca apellido de usuario">
    </div>
  </div>
  <div class="row mb-3">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="email" formControlName="email" placeholder="Introduzca email de usuario">
    </div>
  </div>
  <div class="row mb-3">
    <label for="image" class="col-sm-2 col-form-label">Imagen</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="image" formControlName="image" placeholder="Introduzca url de imagen de usuario">
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!updateForm.valid">Actualizar</button>
</form>
