<div class="row g-4">
  <article class="col-12 col-md-6 col-xl-3">
    <app-user></app-user>
  </article>
  <!-- <article class="col-12 col-md-6 col-xl-3">
    <app-user></app-user>
  </article>
  <article class="col-12 col-md-6 col-xl-3">
    <app-user></app-user>
  </article>
  <article class="col-12 col-md-6 col-xl-3">
    <app-user></app-user>
  </article>
  <article class="col-12 col-md-6 col-xl-3">
    <app-user></app-user>
  </article>
  <article class="col-12 col-md-6 col-xl-3">
    <app-user></app-user>
  </article> -->
</div>

