<div class="row g-4">
  <article class="col-12 col-md-6 col-xl-3" *ngFor="let user of myUsersArr">
    <div class="col">
        <app-user-card [myUser]="user"></app-user-card>
    </div>
  </article>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" [routerLink]="['/home']">1</a></li>
      <li class="page-item"><a class="page-link" [routerLink]="['/home']">2</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>

