<div class="row g-4">
  <article class="col-12 col-md-6 col-xl-3" *ngFor="let user of myUsersArr">
    <div class="col">
        <app-user-card [myUser]="user"></app-user-card>
    </div>
  </article>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item"><button class="page-link" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button></li>
      <li class="page-item"><button class="page-link" (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button></li>
    </ul>
  </nav>
</div>

