.logo{
    width: 50px;
    height: 50px;
}
.nav-link {
	display: block;
	padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
	font-size: var(--bs-nav-link-font-size);
	font-weight: var(--bs-nav-link-font-weight);
	color: #082147;
	text-decoration: none;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.border-bottom {
	border-bottom: var(--bs-border-width) var(--bs-border-style) #08214762 !important;
}