<header class="container border-bottom shadow-sm p-3 mb-5 bg-body-tertiary rounded">
  <div class="container d-flex align-items-center">
    <div class="p-2 flex-grow-1 d-flex align-items-center">
      <a [routerLink]="['/home']" class="text-decoration-none me-4">
        <img src="/assets/logo.png" alt="Logo de la empresa My Users 6.0" class="logo">
      </a>
      <h1><a [routerLink]="['/home']" class="text-decoration-none"> My Users 6.0</a></h1>
    </div>
    <div class="p-2">
      <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/newuser']">Nuevo usuario</a>
      </li>
    </ul>
    </div>
  </div>
</header>
<main class="container">
  <router-outlet></router-outlet>
</main>
<footer class="container border-top">
  <p class="text-center">&copy; MyUsers6.0</p>
</footer>