<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title">Nombre del usuario</h5>
          <h5 class="card-text">Apellido del usuario</h5>
          <p class="card-text m-0"><small class="text-muted"><strong>Nombre usuario:</strong> username</small></p>
          <p class="card-text m-0"><small class="text-muted"><strong>Email:</strong> email.email.com</small></p>
          <div class="btn-group mt-4" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary">Left</button>
            <button type="button" class="btn btn-outline-primary">Middle</button>
            <button type="button" class="btn btn-outline-primary">Right</button>
          </div>
        </div>
      </div>
    </div>
</div>