<div class="card mb-3">
    <div class="row g-0 m-5">
      <div class="col-12 col-md-6 col-xl-6 border-end border-primary">
        <img [src]="myUser?.image" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-12 col-md-6 col-xl-6">
        <div class="card-body">
          <h5 class="card-title">{{myUser?.first_name}}</h5>
          <h5 class="card-text">{{myUser?.last_name}}</h5>
          <p class="card-text m-0"><small class="text-muted"><strong>Nombre usuario:</strong> {{myUser?.username}}</small></p>
          <p class="card-text m-0"><small class="text-muted"><strong>Email:</strong> {{myUser?.email}}</small></p>
          <div class="btn-group mt-4" role="group" aria-label="Basic outlined example">
            <button (click)="deleteUser(myUser._id)" type="button" class="btn btn-outline-primary">Eliminar</button>
            <button type="button" class="btn btn-outline-primary" [routerLink]="['/updateuser', myUser?._id]">Actualizar</button>
            <button type="button" class="btn btn-outline-primary" [routerLink]="['/home']">Volver al listado</button>
          </div>
        </div>
      </div>
    </div>
</div>
